[submodule "themes/hugo-universal-theme2"]
	path = themes/hugo-universal-theme2
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
